h1,h2,h3,h4,h5, button {
    font-family: 'Bitter', serif;
}

.logo {
    border-radius: 50%;
}
#navbar {
    z-index: 1;
}

#barra {
    background-color: rgb(219, 26, 26);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(131, 21, 21, 0.5) 25px, rgba(131, 21, 21, 0.5) 40px);
}
#barra::after {
    content: '';
    background-color: transparent;
    display: block;
    height: 20px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px;
}
#separator-barra {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#separator-barra .content {
    width: 150%;
    height: 150px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
#barra1 {
    background-color: rgb(219, 26, 26);
    position: relative;
    margin-top: -20px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#barra1 img {
    border-radius: 50%;
    position: relative;
}

#info {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(99,196,255,1) 57%);
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
}

.card-border {
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card-border:hover {
    transform: scale(1.05);
}

.text-shadow {
    text-shadow: 0 3px 3px rgba(0,0,0,0.6);
}

#mas {   
    background-color: rgb(24, 163, 152);
    background-size: 40px 40px;
}

#footer{
    background-color: rgb(224, 144, 24);
    background-size: 50px 50px;
}
